{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{{ block.super }}

{% block title %} {{ block.super }}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% endblock %}

{% block main %}
    {% for item in object_list %}
        <div class="{% if forloop.counter|divisibleby:2 %}row{% endif %}">
            <div class="col-sm-6">
              {% if item.featured %}
                <div class="panel panel-primary">
              {% else %}
                <div class="panel panel-default">
              {% endif %}
                    <div class="panel-heading">
                        <a href = "{{ item.get_absolute_url }}">
                            <img src="{{ item.Images.all.0.file.url}}" class="img-responsive">
                        </a>
                    </div>
                    <div class="panel-body">
                        <a href = "{{ item.get_absolute_url }}">
                            {{ item.projectName }}
                        </a>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
            <li>No items yet.</li>
    {% endfor %}
{% endblock %}
