{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{{ block.super }}

{% block title %} {{ block.super }}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% endblock %}

{% block main %}
<ul>
    {{ object_list }}
    {% for item in object_list %}
        <a href = "{{ item.get_absolute_url }}">
            <li>{{ item.projectName }} - {{ item.projectDescription }}</li>
        </a>
        {% empty %}
            <li>No items yet.</li>
    {% endfor %}
</ul>

{% endblock %}