Django==1.6.5
Fabric==1.9.0
Markdown==2.4.1
Mezzanine==3.1.5
Pillow==2.4.0
Pygments==1.6
argparse==1.2.1
bleach==1.4
crypto==1.1.0
django-debug-toolbar==1.2.1
django-grappelli==2.5.3
django-taggit==0.12
ecdsa==0.11
filebrowser-safe==0.3.4
future==0.9.0
grappelli-safe==0.3.11
gunicorn==19.0.0
html5lib==1.0b3
mezzanine-pagedown==0.6
oauthlib==0.6.3
paramiko==1.14.0
pyasn1==0.1.7
pycrypto==2.6.1
pyflakes==0.8.1
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.1
rsa==3.1.4
six==1.7.2
sqlparse==0.1.11
tzlocal==1.0
wsgiref==0.1.2
