{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}

<h2>Welcome</h2>
Hello, my name is Kevin Burton. I am a computer science student studying in Vancouver, British Columbia.
I enjoy building projects that I can use and have fun building and working on, specifically with the Django framework.
My favorite programming language is Python,
but I also know Java, HTML/CSS, JavaScript, and a little C++.

<br>
Feel free to checkout my github at <a href="https://github.com/kburts">github.com/kburts</a>.
{% endblocktrans %}
{% endblock %}
